<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take Away - Закажи еду на дом онлайн!</title>
    <link rel="stylesheet" href="./../static/css/main.min.css">
</head>

<body>

    <div id="app">
        <aside id="main-aside">
            <div class="logo col-8 mx-auto">
                <img src="./../static/img/template/template/logo.png" alt="Take Away - Закажи еду на дом онлайн!">
            </div>

            <nav>
                <ul class="main">
                    <li><a href="./../index.html">Меню</a></li>
                    <li><a href="./store.html">Магазин</a></li>
                    <li><a href="./blog.html" class="active">Блог</a></li>
                    <li><a href="./contact.html">Контакты</a></li>
                </ul>
                <hr>
                <ul class="auth">
                    <li><a href="./reg.html">Регистрация</a></li>
                    <li><a href="./auth.html">Войти</a></li>
                </ul>
                <hr>
                <ul class="soc">
                    <li>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </nav>
            <footer>
                2020 &copy; Take Away
            </footer>
        </aside>

        <main>
            <div class="container p-0" id="blog-page">

                <section class="row content">
                    <header class="col-12">
                        <ul>
                            <li><a href="#" class="active">Все</a></li>
                            <li><a href="#">Рецепты</a></li>
                            <li><a href="#">Энциклопедия</a></li>
                            <li><a href="#">Продукты</a></li>
                            <li><a href="#">Критика</a></li>
                        </ul>
                    </header>


                    <section class="posts">

                        <article class="post">
                            <section class="post-info">
                                <span>TakeAwayGroup</span>
                                <time pubdate="" datetime="21.12.2019">21.12.2019</time>
                            </section>
                            <hr>
                            <div class="img">
                                <img src="./../static/img/products/food/japan/desert/banoffee.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                <h2>SOME NAME POST</h2>
                            </div>
                            <div class="post-content">
                                <hr>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nesciunt molestiae quos temporibus velit, nulla tenetur quae inventore voluptate error. Hic facere rerum maiores aut expedita praesentium natus, adipisci voluptates! Lorem ipsum dolor sit
                                    amet consectetur adipisicing elit. Explicabo facilis esse distinctio, nemo laborum eos dolorem quis incidunt veniam qui laudantium amet, aperiam omnis, at aspernatur nostrum saepe ex minus!
                                </p>
                                <hr>
                                <div class="post-nav">
                                    <ul>
                                        <li>
                                            <ul class="soc">
                                                <li><i class="fas fa-share-alt"></i></li>
                                                <li><i class="fas fa-heart"></i><span>9999</span></li>
                                                <li><i class="far fa-comment-alt"></i><span>9999</span></li>
                                            </ul>
                                        </li>
                                        <li><a href="./post.html">Подробнее</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>


                        <article class="post">
                            <section class="post-info">
                                <span>TakeAwayGroup</span>
                                <time pubdate="" datetime="21.12.2019">21.12.2019</time>
                            </section>
                            <hr>
                            <div class="img">
                                <img src="./../static/img/products/food/japan/rolls/atun-aguacate-y-philadelphia-roll.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                <h2>SOME NAME POST</h2>
                            </div>
                            <div class="post-content">
                                <hr>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nesciunt molestiae quos temporibus velit, nulla tenetur quae inventore voluptate error. Hic facere rerum maiores aut expedita praesentium natus, adipisci voluptates! Lorem ipsum dolor sit
                                    amet consectetur adipisicing elit. Explicabo facilis esse distinctio, nemo laborum eos dolorem quis incidunt veniam qui laudantium amet, aperiam omnis, at aspernatur nostrum saepe ex minus!
                                </p>
                                <hr>
                                <div class="post-nav">
                                    <ul>
                                        <li>
                                            <ul class="soc">
                                                <li><i class="fas fa-share-alt"></i></li>
                                                <li><i class="far fa-heart"></i><span>9999</span></li>
                                                <li><i class="far fa-comment-alt"></i><span>9999</span></li>
                                            </ul>
                                        </li>
                                        <li><a href="./post.html">Подробнее</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>


                        <article class="post">
                            <section class="post-info">
                                <span>TakeAwayGroup</span>
                                <time pubdate="" datetime="21.12.2019">21.12.2019</time>
                            </section>
                            <hr>
                            <div class="img">
                                <img src="./../static/img/products/food/japan/starter/edamame.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                <h2>SOME nanaxcvcx fgdf anaaaaa NAME POST</h2>
                            </div>
                            <div class="post-content">
                                <hr>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nesciunt molestiae quos temporibus velit, nulla tenetur quae inventore voluptate error. Hic facere rerum maiores aut expedita praesentium natus, adipisci voluptates! Lorem ipsum dolor sit
                                    amet consectetur adipisicing elit. Explicabo facilis esse distinctio, nemo laborum eos dolorem quis incidunt veniam qui laudantium amet, aperiam omnis, at aspernatur nostrum saepe ex minus!
                                </p>
                                <hr>
                                <div class="post-nav">
                                    <ul>
                                        <li>
                                            <ul class="soc">
                                                <li><i class="fas fa-share-alt"></i></li>
                                                <li><i class="far fa-heart"></i><span>9999</span></li>
                                                <li><i class="far fa-comment-alt"></i><span>9999</span></li>
                                            </ul>
                                        </li>
                                        <li><a href="./post.html">Подробнее</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>

                    </section>

                    <footer class="col-12">
                        <div class="left"><i class="fas fa-angle-double-left"></i></div>
                        <div class="pages">
                            <ul>
                                <li><i class="far fa-circle"></i></li>
                                <li><i class="far fa-circle"></i></li>
                                <li><i class="far fa-circle"></i></li>
                                <li><i class="far fa-dot-circle active"></i></li>
                                <li><i class="far fa-circle"></i></li>
                                <li><i class="far fa-circle"></i></li>
                                <li><i class="far fa-circle"></i></li>
                            </ul>
                        </div>
                        <div class="right"><i class="fas fa-angle-double-right"></i></div>
                    </footer>
                </section>
            </div>
        </main>
    </div>

    <script src="./../static/js/main.js"></script>
    <script src="./../static/libs/jQuery/jquery-3.4.1.js"></script>
    <script src="./../static/libs/bootstrap-4.3.1/bootstrap.min.js"></script>
    <script src="./../static/libs/fontawesome-free/all.min.js"></script>
</body>

</html>
<!-- </html> -->