<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take Away - Закажи еду на дом онлайн!</title>
    <link rel="stylesheet" href="./../static/css/main.min.css">
</head>

<body>
    <div id="app">
        <aside id="main-aside">
            <div class="logo col-8 mx-auto">
                <img src="./../static/img/template/template/logo.png" alt="Take Away - Закажи еду на дом онлайн!">
            </div>

            <nav>
                <ul class="main">
                    <li><a href="./../index.html">Меню</a></li>
                    <li><a href="./store.html">Магазин</a></li>
                    <li><a href="./blog.html">Блог</a></li>
                    <li><a href="./contact.html" class="active">Контакты</a></li>
                </ul>
                <hr>
                <ul class="auth">
                    <li><a href="./reg.html">Регистрация</a></li>
                    <li><a href="./auth.html">Войти</a></li>
                </ul>
                <hr>
                <ul class="soc">
                    <li>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </nav>
            <footer>
                2020 &copy; Take Away
            </footer>
        </aside>

        <main>
            <section id="contact-page">
                <section class="content">
                    <section class="contact-form">
                        <h2>Задать вопрос</h2>
                        <form action="#">
                            <input type="text" name="fullname" id="full_name" required placeholder="Ф.И.О">
                            <input type="email" name="email" id="email" required placeholder="E-Mail">
                            <input type="tel" name="phone" id="phone" required placeholder="Номер телефона">
                            <textarea rows="10" cols="30" required placeholder="Ваше сообщение"></textarea>
                            <input type="submit" value="Отправить">
                        </form>
                    </section>
                    <section class="about">
                        <div class="img">
                            <img src="./../static/img/template/template/logo.png" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section>
                            <h2>О Нас</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore magni voluptatum fuga hic eos debitis beatae asperiores magnam aut tenetur aspernatur perspiciatis quidem mollitia similique voluptatem expedita cumque, corporis
                                natus aliquid provident, sit minus tempora? Blanditiis, ipsum? Cumque, ad optio! </p><strong>Take Away</strong>
                        </section>
                    </section>
                </section>

                <section class="right-side">
                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>
                </section>
                </section.>

        </main>
    </div>

    <script src="./../static/js/main.js"></script>
    <script src="./../static/libs/jQuery/jquery-3.4.1.js"></script>
    <script src="./../static/libs/bootstrap-4.3.1/bootstrap.min.js"></script>
    <script src="./../static/libs/fontawesome-free/all.min.js"></script>
</body>

</html>

<!-- </html> -->