<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take Away - Закажи еду на дом онлайн!</title>
    <link rel="stylesheet" href="./../static/css/main.min.css">
</head>

<body>

    <div id="app">
        <div class="container">
            <div class="row">
                <aside id="main-aside">
                    <div class="logo col-8 mx-auto">
                        <img src="./../static/img/template/template/logo.png" alt="Take Away - Закажи еду на дом онлайн!">
                    </div>

                    <nav>
                        <ul class="main">
                            <li><a href="./../index.html">Меню</a></li>
                            <li><a href="./store.html">Магазин</a></li>
                            <li><a href="./blog.html">Блог</a></li>
                            <li><a href="./contact.html">Контакты</a></li>
                        </ul>
                        <hr>
                        <ul class="auth">
                            <li><a href="./reg.html">Регистрация</a></li>
                            <li><a href="./auth.html">Войти</a></li>
                        </ul>
                        <hr>
                        <ul class="soc">
                            <li>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </nav>
                    <footer>
                        2020 &copy; Take Away
                    </footer>
                </aside>

                <main>
                    <div id="post-page">

                        <div class="content">

                            <section class="post">
                                <section class="left-side-post">
                                    <div class="img">
                                        <img src="./../static/img/products/food/japan/rolls/acapulco.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                    </div>
                                    <section class="recipe">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col-12">Ингридиенты:</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Рис для суши</td>
                                                    <td>70г</td>
                                                </tr>
                                                <tr>
                                                    <td>Нори</td>
                                                    <td>0.75шт</td>
                                                </tr>
                                                <tr>
                                                    <td>Лосось</td>
                                                    <td>60г</td>
                                                </tr>
                                                <tr>
                                                    <td>Авокадо</td>
                                                    <td>30г</td>
                                                </tr>
                                                <tr>
                                                    <td>Тигровая криветка</td>
                                                    <td>3шт</td>
                                                </tr>
                                                <tr>
                                                    <td>Сыр филадельвия</td>
                                                    <td>50г</td>
                                                </tr>
                                                <tr>
                                                    <td>Омлет</td>
                                                    <td>30г</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </section>
                                </section>
                                <section class="post-content">
                                    <header>
                                        <h2>Рол Акапулько</h2>
                                        <hr>
                                        <section class="post-info">
                                            <span>TakeAwayGroup</span>
                                            <time pubdate="" datetime="21.12.2019">21.12.2019</time>
                                        </section>
                                    </header>
                                    <section class="text">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At illum qui aliquam praesentium. Facilis, incidunt accusamus saepe corporis totam cupiditate sit beatae repellat delectus rerum! Lorem ipsum dolor sit, amet
                                            consectetur adipisicing elit. Consequatur porro minus quod doloribus. Ad aliquam amet qui reiciendis libero dicta veritatis sint? Deserunt quod ipsum itaque excepturi quaerat, dicta id accusamus eligendi veniam
                                            quisquam quos repudiandae commodi a est iusto officiis, animi praesentium dolorem soluta. Beatae optio, voluptas tempore saepe obcaecati ad corporis porro? Consequatur natus, mollitia fuga quas dignissimos veniam
                                            earum unde excepturi, soluta modi beatae. Ullam deleniti exercitationem amet voluptatem ab at consequuntur perspiciatis neque repellat, officia expedita, iste voluptate assumenda eum veniam molestiae voluptatum!
                                            Itaque dignissimos veniam hic iure sunt perferendis, alias nemo quidem ipsa porro atque?</p>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At illum qui aliquam praesentium. Facilis, incidunt accusamus saepe corporis totam cupiditate sit beatae repellat delectus rerum! Lorem ipsum dolor sit, amet
                                            consectetur adipisicing elit. Consequatur porro minus quod doloribus. Ad aliquam amet qui reiciendis libero dicta veritatis sint? Deserunt quod ipsum itaque excepturi quaerat, dicta id accusamus eligendi veniam
                                            quisquam quos repudiandae commodi a est iusto officiis, animi praesentium dolorem soluta. Beatae optio, voluptas tempore saepe obcaecati ad corporis porro? Consequatur natus, mollitia fuga quas dignissimos veniam
                                            earum unde excepturi, soluta modi beatae. Ullam deleniti exercitationem amet voluptatem ab at consequuntur perspiciatis neque repellat, officia expedita, iste voluptate assumenda eum veniam molestiae voluptatum!
                                            Itaque dignissimos veniam hic iure sunt perferendis, alias nemo quidem ipsa porro atque?</p>
                                    </section>
                                    <footer>
                                        <hr>
                                        <ul class="soc">
                                            <li><a href="#"><i class="far fa-heart"></i></a><span>9999</span></li>
                                            <li><a href="#"><i class="far fa-comment-alt"></i></a><span>9999</span></li>
                                            <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                                        </ul>
                                    </footer>
                                </section>

                                <div class="comment-block">
                                    <hr>
                                    <section class="сomment-form">
                                        <form action="#">
                                            <input type="text" name="fullname" id="full_name" required placeholder="ФИО">
                                            <input type="email" name="email" id="email" required placeholder="E-Mail">
                                            <textarea rows="10" cols="30" required placeholder="Оставить комментарий"></textarea>
                                            <a href="./reg.html">Регистраця</a><a href="./auth.html">Войти</a>
                                            <input type="submit" value="Отправить">
                                        </form>
                                    </section>
                                    <hr>
                                    <section class="comments">

                                        <section class="comment-articles">
                                            <article class="comment">
                                                <div class="img">
                                                    <img src="./../static/img/profile/no-avatar.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                                </div>
                                                <div class="comment-content">
                                                    <header>
                                                        <h5>Dmitriy Marynenko</h5>
                                                        <time pubdate="" datetime="21.12.2019 22:44:33">21.12.2019
                                                                    22:44:33</time>
                                                    </header>
                                                    <hr>
                                                    <p>
                                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt quod dolorem vitae pariatur accusamus deserunt sed quaerat quasi corrupti nisi tempore facilis ullam, minima error mollitia quam at, harum modi eaque beatae in amet aspernatur animi? Facere
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vel iste maxime quos. Obcaecati molestias laudantium provident, soluta sapiente eos dolorem cum vero! Lorem ipsum dolor sit amet consectetur
                                                        adipisicing elit. Quasi, nihil? distinctio quo quasi, animi inventore iure assumenda? Unde, et. Repellendus harum similique commodi.
                                                    </p>
                                                    <hr>
                                                    <footer>
                                                        <ul class="soc">
                                                            <li>
                                                                <ul>
                                                                    <li><a href="#"><i class="fas fa-thumbs-up"></i></a><span>9999</span>
                                                                    </li>
                                                                    <li><a href="#"><i class="fas fa-thumbs-down"></i></a><span>9999</span>
                                                                    </li>
                                                                    <li><a href="#"><i class="far fa-comment-alt"></i></a><span>9999</span>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <ul class="btn">
                                                                    <li><a href="#">Ответить</a></li>
                                                                    <li><a href="#">Подробнее</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </footer>
                                                </div>
                                            </article>

                                            <section class="answers">
                                                <article class="answer">
                                                    <div class="img">
                                                        <img src="./../static/img/profile/no-avatar.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                                    </div>
                                                    <div class="answer-content">
                                                        <header>
                                                            <h5>Dmitriy Marynenko</h5>
                                                            <time pubdate="" datetime="21.12.2019 22:44:33">21.12.2019
                                                                        22:44:33</time>
                                                        </header>
                                                        <hr>
                                                        <p>
                                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt quod dolorem vitae pariatur accusamus deserunt sed quaerat quasi corrupti nisi tempore facilis ullam, minima error mollitia quam at, harum modi eaque beatae in amet aspernatur animi? Facere
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vel iste maxime quos. Obcaecati molestias laudantium provident, soluta sapiente eos dolorem cum vero! Lorem ipsum dolor sit amet
                                                            consectetur adipisicing elit. Quasi, nihil? distinctio quo quasi, animi inventore iure assumenda? Unde, et. Repellendus harum similique commodi.
                                                        </p>
                                                        <hr>
                                                        <footer>
                                                            <ul class="soc">
                                                                <li>
                                                                    <ul>
                                                                        <li><a href="#"><i class="fas fa-thumbs-up"></i></a><span>9999</span>
                                                                        </li>
                                                                        <li><a href="#"><i class="fas fa-thumbs-down"></i></a><span>9999</span>
                                                                        </li>
                                                                        <li><a href="#"><i class="far fa-comment-alt"></i></a><span>9999</span>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <ul class="btn">
                                                                        <li><a href="#">Ответить</a></li>
                                                                        <li><a href="#">Подробнее</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </footer>
                                                    </div>
                                                </article>

                                                <section class="answer-to-answer">
                                                    <article class="answer">
                                                        <div class="img">
                                                            <img src="./../static/img/profile/no-avatar.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                                        </div>
                                                        <div class="answer-content">
                                                            <header>
                                                                <h5>Dmitriy Marynenko</h5>
                                                                <time pubdate="" datetime="21.12.2019 22:44:33">21.12.2019
                                                                            22:44:33</time>
                                                            </header>
                                                            <hr>
                                                            <p>
                                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt quod dolorem vitae pariatur accusamus deserunt sed quaerat quasi corrupti nisi tempore facilis ullam, minima error mollitia quam at, harum modi eaque beatae in amet aspernatur animi? Facere
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vel iste maxime quos. Obcaecati molestias laudantium provident, soluta sapiente eos dolorem cum vero! Lorem ipsum dolor sit
                                                                amet consectetur adipisicing elit. Quasi, nihil? distinctio quo quasi, animi inventore iure assumenda? Unde, et. Repellendus harum similique commodi.
                                                            </p>
                                                            <hr>
                                                            <footer>
                                                                <ul class="soc">
                                                                    <li>
                                                                        <ul>
                                                                            <li><a href="#"><i
                                                                                                class="fas fa-thumbs-up"></i></a><span>9999</span>
                                                                            </li>
                                                                            <li><a href="#"><i
                                                                                                class="fas fa-thumbs-down"></i></a><span>9999</span>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li><a class="btn" href="#">Подробнее</a></li>
                                                                </ul>
                                                            </footer>
                                                        </div>
                                                    </article>
                                                </section>

                                            </section>
                                        </section>

                                    </section>
                                </div>

                            </section>
                        </div>

                        <div class="right-side">
                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>120</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>120</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>120</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>120</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>120</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>120</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>120</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>120</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>120</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>120</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>120</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>120</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </article>
                        </div>
                        </section>
                    </div>
                </main>



                <script src="./../static/js/main.js"></script>
                <script src="./../static/libs/jQuery/jquery-3.4.1.js"></script>
                <script src="./../static/libs/bootstrap-4.3.1/bootstrap.min.js"></script>
                <script src="./../static/libs/fontawesome-free/all.min.js"></script>
</body>

</html>
<!-- </html> -->