<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take Away - Закажи еду на дом онлайн!</title>
    <link rel="stylesheet" href="./../static/css/main.min.css">
</head>

<body>
    <div id="app">
        <aside id="main-aside">
            <div class="logo col-8 mx-auto">
                <img src="./../static/img/template/template/logo.png" alt="Take Away - Закажи еду на дом онлайн!">
            </div>

            <nav>
                <ul class="main">
                    <li><a href="./../index.html">Меню</a></li>
                    <li><a href="./store.html">Магазин</a></li>
                    <li><a href="./blog.html">Блог</a></li>
                    <li><a href="./contact.html">Контакты</a></li>
                </ul>
                <hr>
                <ul class="auth">
                    <li><a href="./reg.html">Регистрация</a></li>
                    <li><a href="./auth.html">Войти</a></li>
                </ul>
                <hr>
                <ul class="soc">
                    <li>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </nav>
            <footer>
                2020 &copy; Take Away
            </footer>
        </aside>

        <main>
            <section id="product-page">
                <section class="content">

                        <section class="product">
                            <header>
                                <section class="title">
                                    <h2>SOME PRODUCT NAME</h2>
                                    <hr>
                                    <ul class="reviews">
                                        <li><a href="./reg.html">Регистрация</a></li>
                                        <li><a href="./auth.html">Войти</a></li>
                                        <li><a href="./reviews.html">Отзывы</a></li>
                                        <li><a href="#">Оставить отзыв</a></li>
                                    </ul>
                                </section>
                                <div class="img"><img src="./../static/img/template/template/logo.png"
                                        alt="Take Away - Закажи еду на дом онлайн!"></div>
                            </header>
                            <!-- MODUL PRODUCT DDESCRIPTION -->
                            <section class="product-content">
                                <div class="img">
                                    <img src="./../static/img/products/food/japan/rolls/caramel.jpg" alt="Take Away - Закажи еду на дом онлайн!"></div>
                                <section class="description">
                                    <p class="text">Lorem ipsum dolor, orrupti quod molestiae ipsam, qui voluptatibus. 
                                        Obcaecati omnis soluta facere odio at cum rerum similique cumque.</p>
                                    <p class="price"><span>9999</span>₴</p>
                                </section>
                                <ul class="btns">
                                    <li><a href="./../index.html">Вернуться</a></li>
                                    <li><button>В корзину</button></li>
                                </ul>
                            </section>
                            <!-- END MODUL -->
                        </section>

                </section>

                <section class="right-side">
                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg"
                                alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png"
                                alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg"
                                alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png"
                                alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg"
                                alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png"
                                alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg"
                                alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png"
                                alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg"
                                alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png"
                                alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg"
                                alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png"
                                alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg"
                                alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png"
                                alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg"
                                alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png"
                                alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg"
                                alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png"
                                alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg"
                                alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png"
                                alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg"
                                alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png"
                                alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg"
                                alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png"
                                alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>
                </section>
            </section>
        </main>
    </div>

    <script src="./../static/libs/jQuery/jquery-3.4.1.js"></script>
    <script src="./../static/libs/bootstrap-4.3.1/bootstrap.min.js"></script>
    <script src="./../static/libs/fontawesome-free/all.min.js"></script>
    <script src="./../static/js/main.js"></script>
</body>

</html>
<!-- </html> -->