<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take Away - Закажи еду на дом онлайн!</title>
    <link rel="stylesheet" href="./../static/css/main.min.css">
</head>

<body>
    <div id="app">
        <aside id="main-aside">
            <div class="avatar col-9 mx-auto">
                <img src="./../static/img/profile/no-avatar.jpg" alt="Take Away - Закажи еду на дом онлайн!">
            </div>

            <nav>
                <ul class="main">
                    <li><a href="./../index.html">Меню</a></li>
                    <li><a href="./store.html">Магазин</a></li>
                    <li><a href="./blog.html">Блог</a></li>
                    <li><a href="./contact.html">Контакты</a></li>
                </ul>
                <hr>
                <ul class="auth">
                   <li><a href="./.html">Настройки</a></li>
                   <li><a href="./auth.html">Выйти</a></li>
                </ul>
                <hr>
                <ul class="soc">
                    <li>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </nav>
            <footer>
                2020 &copy; Take Away
            </footer>
        </aside>

        <main>
            <section id="profile-page">
                <section class="content">
                    PROFILE

                </section>

               
        </main>
    </div>

    <script src="./../static/js/main.js"></script>
    <script src="./../static/libs/jQuery/jquery-3.4.1.js"></script>
    <script src="./../static/libs/bootstrap-4.3.1/bootstrap.min.js"></script>
    <script src="./../static/libs/fontawesome-free/all.min.js"></script>
</body>

</html>
<!-- </html> -->