<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take Away - Закажи еду на дом онлайн!</title>
    <link rel="stylesheet" href="./../static/css/main.min.css">
</head>

<body>
    <div id="app">
        <aside id="main-aside">
            <div class="logo col-8 mx-auto">
                <img src="./../static/img/template/template/logo.png" alt="Take Away - Закажи еду на дом онлайн!">
            </div>

            <nav>
                <ul class="main">
                    <li><a href="./../index.html">Меню</a></li>
                    <li><a href="./store.html">Магазин</a></li>
                    <li><a href="./blog.html">Блог</a></li>
                    <li><a href="./contact.html">Контакты</a></li>
                </ul>
                <hr>
                <ul class="auth">
                    <li><a href="./reg.html" class="active">Регистрация</a></li>
                    <li><a href="./auth.html">Войти</a></li>
                </ul>
                <hr>
                <ul class="soc">
                    <li>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </nav>
            <footer>
                2020 &copy; Take Away
            </footer>
        </aside>

        <main>
            <section id="auth-page">
                <section class="content">
                    <section class="auth-forms">
                        <header>
                            <ul>
                                <li><a href="./reg.html" class="active">Регистрация</a></li>
                                <li><a href="./auth.html">Войти</a></li>
                            </ul>
                            <hr>
                        </header>
                        <form action="#" class="reg">
                            <h3>Регистрация</h3>
                            <input type="text" name="fullName" placeholder="Ф.И.О" required>
                            <input type="text" name="nickName" placeholder="Ник" required>
                            <input type="email" name="email" placeholder="E-Mail" required>
                            <input type="tel" name="phone" placeholder="Номер телефона" required>
                            <input type="password" name="pass" placeholder="Пароль" required>
                            <input type="password" name="repass" placeholder="Повторите пароль" required>

                            <input type="submit" name="reg" class="btn" value="Регистрация">
                        </form>
                    </section>
                </section>

                <section class="right-side">
                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>
                </section>
            </section>
        </main>
    </div>

    <script src="./../static/js/main.js"></script>
    <script src="./../static/libs/jQuery/jquery-3.4.1.js"></script>
    <script src="./../static/libs/bootstrap-4.3.1/bootstrap.min.js"></script>
    <script src="./../static/libs/fontawesome-free/all.min.js"></script>
</body>

</html>
<!-- </html> -->