<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take Away - Закажи еду на дом онлайн!</title>
    <link rel="stylesheet" href="./../static/css/main.min.css">
</head>

<body>
    <div id="app">
        <aside id="main-aside">
            <div class="logo col-8 mx-auto">
                <img src="./../static/img/template/template/logo.png" alt="Take Away - Закажи еду на дом онлайн!">
            </div>

            <nav>
                <ul class="main">
                    <li><a href="./../index.html">Меню</a></li>
                    <li><a href="./store.html">Магазин</a></li>
                    <li><a href="./blog.html">Блог</a></li>
                    <li><a href="./contact.html">Контакты</a></li>
                </ul>
                <hr>
                <ul class="auth">
                    <li><a href="./reg.html">Регистрация</a></li>
                    <li><a href="./auth.html">Войти</a></li>
                </ul>
                <hr>
                <ul class="soc">
                    <li>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </nav>
            <footer>
                2020 &copy; Take Away
            </footer>
        </aside>

        <main>
            <section id="product-page">
                <section class="content">

                    <section class="product">
                        <header>
                            <section class="title">
                                <h2>SOME PRODUCT NAME</h2>
                                <hr>
                                <ul class="reviews">
                                    <li><a href="./reg.html">Регистрация</a></li>
                                    <li><a href="./auth.html">Войти</a></li>
                                    <li><a href="./product.html">Назад</a></li>
                                    <li><a href="#" class="active">Оставить отзыв</a></li>
                                </ul>
                            </section>
                            <div class="img"><img src="./../static/img/template/template/logo.png" alt="Take Away - Закажи еду на дом онлайн!"></div>
                        </header>
                        <!-- MODUL PRODUCT REVIEWS -->
                        <section class="review-content">
                            <div class="img"><img src="./../static/img/products/food/japan/rolls/caramel.jpg" alt="Take Away - Закажи еду на дом онлайн!"></div>
                            <section class="description">

                                <!-- FULL MODUL FOR  PRODUCT ADD REVIEWS -->
                                <section class="add-review">
                                    <form action="#">
                                        <input type="text" name="fullname" id="full_name" required placeholder="ФИО">
                                        <input type="email" name="email" id="email" required placeholder="E-Mail">
                                        <textarea rows="10" cols="30" required placeholder="Оставить комментарий"></textarea>
                                        <input type="submit" value="Отправить">
                                    </form>
                                    <hr>
                                </section>
                                <!-- FULL MODUL FOR  PRODUCT REVIEWS -->
                                <section class="reviews-articles">

                                    <article class="item">
                                        <div class="author">
                                            <span>Дмитрий Мариненко</span>
                                            <time pubdate="" datetime="21.12.2019">21.12.2019</time>
                                        </div>
                                        <hr>
                                        <p class="review-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, nihil. Quam, quas! Neque, veritatis expedita asperiores est culpa, temporibus perspiciatis blanditiis recusandae ipsam consequatur nesciunt.</p>
                                        <hr>
                                        <a href="#">Подробнее</a>
                                    </article>

                                    <article class="item">
                                        <div class="author">
                                            <span>Дмитрий Мариненко</span>
                                            <time pubdate="" datetime="21.12.2019">21.12.2019</time>
                                        </div>
                                        <hr>
                                        <p class="review-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, nihil. Quam, quas! Neque, veritatis expedita asperiores est culpa, temporibus perspiciatis blanditiis recusandae ipsam consequatur nesciunt.</p>
                                        <hr>
                                        <a href="#">Подробнее</a>
                                    </article>

                                    <article class="item">
                                        <div class="author">
                                            <span>Дмитрий Мариненко</span>
                                            <time pubdate="" datetime="21.12.2019">21.12.2019</time>
                                        </div>
                                        <hr>
                                        <p class="review-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, nihil. Quam, quas! Neque, veritatis expedita asperiores est culpa, temporibus perspiciatis blanditiis recusandae ipsam consequatur nesciunt.</p>
                                        <hr>
                                        <a href="#">Подробнее</a>
                                    </article>

                                    <!-- <article class="item">
                                        <div class="author">
                                            <span>Дмитрий Мариненко</span>
                                            <time pubdate="" datetime="21.12.2019">21.12.2019</time>
                                        </div>
                                        <hr>
                                        <p class="review-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, nihil. Quam, quas! Neque, veritatis expedita asperiores est culpa, temporibus perspiciatis blanditiis recusandae ipsam consequatur nesciunt.</p>
                                        <hr>
                                        <a href="#">Подробнее</a>
                                    </article> -->


                                </section>
                            </section>
                        </section>
                        <!-- END MODUL -->
                    </section>

                </section>

                <section class="right-side">
                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>

                    <article class="item">
                        <h2 class="item-title">Чизкейк</h2>
                        <div class="item-img">
                            <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                        </div>
                        <section class="item-nav">
                            <button class="item-nav-add">В корзину</button>
                            <p class="item-nav-price"><span>120</span>₴</p>
                        </section>
                        <section class="discount">
                            <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                            <p><span>10</span>%</p>
                        </section>
                    </article>
                </section>
            </section>
        </main>
    </div>

    <script src="./../static/libs/jQuery/jquery-3.4.1.js"></script>
    <script src="./../static/libs/bootstrap-4.3.1/bootstrap.min.js"></script>
    <script src="./../static/libs/fontawesome-free/all.min.js"></script>
    <script src="./../static/js/main.js"></script>
</body>

</html>
<!-- </html> -->