<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take Away - Закажи еду на дом онлайн!</title>
    <link rel="stylesheet" href="./../static/css/main.min.css">
</head>

<body>

    <div id="app">
        <aside id="main-aside">
            <div class="logo col-8 mx-auto">
                <img src="./../static/img/template/template/logo.png" alt="Take Away - Закажи еду на дом онлайн!">
            </div>

            <nav>
                <ul class="main">
                    <li><a href="./../index.html">Меню</a></li>
                    <li><a href="./store.html">Магазин</a></li>
                    <li><a href="./blog.html">Блог</a></li>
                    <li><a href="./contact.html">Контакты</a></li>
                </ul>
                <hr>
                <ul class="auth">
                    <li><a href="./reg.html">Регистрация</a></li>
                    <li><a href="./auth.html">Войти</a></li>
                </ul>
                <hr>
                <ul class="soc">
                    <li>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </nav>
            <footer>
                2020 &copy; Take Away
            </footer>
        </aside>
        <main>
            <div id="shopping-card-page">
                <section class="content">
                    <section class="items">

                        <article class="item">
                            <i class="fas fa-times close"></i>
                            <div class="product-img">
                                <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                            </div>
                            <h2>Ролл Акапулько</h2>
                            <section class="nav">
                                <p class="nav-price"><span>1270</span>₴</p>
                                <section class="nav-count">
                                    <button class="plus">+</button>
                                    <div class="count">99</div>
                                    <button class="minus">-</button>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </section>
                        </article>

                        <article class="item">
                            <i class="fas fa-times close"></i>
                            <div class="product-img">
                                <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                            </div>
                            <h2>Ролл Акапулько</h2>
                            <section class="nav">
                                <p class="nav-price"><span>1270</span>₴</p>
                                <section class="nav-count">
                                    <button class="plus">+</button>
                                    <div class="count">99</div>
                                    <button class="minus">-</button>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </section>
                        </article>

                        <article class="item">
                            <i class="fas fa-times close"></i>
                            <div class="product-img">
                                <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                            </div>
                            <h2>Ролл Акапулько</h2>
                            <section class="nav">
                                <p class="nav-price"><span>1270</span>₴</p>
                                <section class="nav-count">
                                    <button class="plus">+</button>
                                    <div class="count">99</div>
                                    <button class="minus">-</button>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </section>
                        </article>

                        <article class="item">
                            <i class="fas fa-times close"></i>
                            <div class="product-img">
                                <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                            </div>
                            <h2>Ролл Акапулько</h2>
                            <section class="nav">
                                <p class="nav-price"><span>1270</span>₴</p>
                                <section class="nav-count">
                                    <button class="plus">+</button>
                                    <div class="count">99</div>
                                    <button class="minus">-</button>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </section>
                        </article>

                        <article class="item">
                            <i class="fas fa-times close"></i>
                            <div class="product-img">
                                <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                            </div>
                            <h2>Ролл Акапулько</h2>
                            <section class="nav">
                                <p class="nav-price"><span>1270</span>₴</p>
                                <section class="nav-count">
                                    <button class="plus">+</button>
                                    <div class="count">99</div>
                                    <button class="minus">-</button>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </section>
                        </article>

                        <article class="item">
                            <i class="fas fa-times close"></i>
                            <div class="product-img">
                                <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                            </div>
                            <h2>Ролл Акапулько</h2>
                            <section class="nav">
                                <p class="nav-price"><span>1270</span>₴</p>
                                <section class="nav-count">
                                    <button class="plus">+</button>
                                    <div class="count">99</div>
                                    <button class="minus">-</button>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </section>
                        </article>

                        <article class="item">
                            <i class="fas fa-times close"></i>
                            <div class="product-img">
                                <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                            </div>
                            <h2>Ролл Акапулько</h2>
                            <section class="nav">
                                <p class="nav-price"><span>1270</span>₴</p>
                                <section class="nav-count">
                                    <button class="plus">+</button>
                                    <div class="count">99</div>
                                    <button class="minus">-</button>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </section>
                        </article>

                        <article class="item">
                            <i class="fas fa-times close"></i>
                            <div class="product-img">
                                <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                            </div>
                            <h2>Ролл Акапулько</h2>
                            <section class="nav">
                                <p class="nav-price"><span>1270</span>₴</p>
                                <section class="nav-count">
                                    <button class="plus">+</button>
                                    <div class="count">99</div>
                                    <button class="minus">-</button>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </section>
                        </article>


                    </section>

                    <section class="order">
                        <h2>Оформить заказ</h2>
                        <hr>
                        <form action="#">
                            <section class="form">
                                <label for="fullname">Ф.И.О.</label>
                                <input type="text" name="fullname" placeholder="Иванов Иван Иванович" required>

                                <label for="address">Адрес доставки</label>
                                <input type="text" name="address" placeholder="Адрес доставки" required>

                                <label for="email">E-Mail</label>
                                <input type="email" name="email" placeholder="mail@example.com" required>

                                <label for="phone">Моб. номер</label>
                                <input type="tel" name="phone" placeholder="+380123456789" required>

                                <label for="promo">Промокод</label>
                                <input type="text" name="promo" placeholder="aBcD123">
                            </section>
                            <hr>
                            <div class="alert alert-secondary" role="alert">
                                Все aкционные цены учтены!
                            </div>
                            <hr>
                            <p class="cost"><span>9999</span>₴</p>
                            <section class="nav">
                                <hr>
                                <div class="btns">
                                    <a href="./../index.html">В магазин</a>
                                    <div class="btn">
                                        <button>Отменить</button>
                                        <button>Заказать</button>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </section>
                </section>
            </div>
        </main>
    </div>

    <script src="./../static/js/main.js"></script>
    <script src="./../static/libs/jQuery/jquery-3.4.1.js"></script>
    <script src="./../static/libs/bootstrap-4.3.1/bootstrap.min.js"></script>
    <script src="./../static/libs/fontawesome-free/all.min.js"></script>
</body>

</html>
<!-- </html> -->