<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take Away - Закажи еду на дом онлайн!</title>
    <link rel="stylesheet" href="./../static/css/main.min.css">
</head>

<body>

    <div id="app">
        <aside id="main-aside">
            <div class="logo col-8 mx-auto">
                <img src="./../static/img/template/template/logo.png" alt="Take Away - Закажи еду на дом онлайн!">
            </div>

            <nav>
                <ul class="main">
                    <li><a href="./../index.html">Меню</a></li>
                    <li><a href="./store.html" class="active">Магазин</a></li>
                    <li><a href="./blog.html">Блог</a></li>
                    <li><a href="./contact.html">Контакты</a></li>
                </ul>
                <hr>
                <ul class="auth">
                    <li><a href="./reg.html">Регистрация</a></li>
                    <li><a href="./auth.html">Войти</a></li>
                </ul>
                <hr>
                <ul class="soc">
                    <li>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </nav>
            <footer>
                2020 &copy; Take Away
            </footer>
        </aside>
        <main>
            <div id="store-page">
                <div class="content">

                    <header>
                        <ul>
                            <!-- <li><a href="#">Назад</a></li> -->
                            <li><a href="#" class="active">Все</a></li>
                            <li><a href="#">Для суши</a></li>
                            <li><a href="#">Для пиццы</a></li>
                            <li><a href="#">Для десертов</a></li>
                            <li><a href="#">Полуфабрикаты</a></li>
                            <li><a href="#">Посуда</a></li>
                            <li><a href="#">Инвентарь</a></li>
                        </ul>
                        <div class="shopping-card"><a href="./../template/shopping_card.html"><i
                                    class="fas fa-shopping-cart"></i><span>10</span></a></div>
                    </header>

                    <section class="content-cards">
                        <div class="cards">

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add active">В корзину</button>
                                    <p class="item-nav-price"><span>120</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>10</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>1270</span>₴</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>1270</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>15</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>1270</span>₴</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>1270</span>₴</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>1270</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>15</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>1270</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>15</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add active">В корзину</button>
                                    <p class="item-nav-price"><span>1270</span>₴</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>1270</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>15</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>1270</span>₴</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>1270</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>15</span>%</p>
                                </section>
                            </article>

                            <article class="item">
                                <h2 class="item-title">Чизкейк</h2>
                                <div class="item-img">
                                    <img src="./../static/img/products/food/japan/desert/cheesecake.jpg" alt="Take Away - Закажи еду на дом онлайн!">
                                </div>
                                <section class="item-nav">
                                    <button class="item-nav-add">В корзину</button>
                                    <p class="item-nav-price"><span>1270</span>₴</p>
                                </section>
                                <section class="discount">
                                    <img src="./../static/img/template/template/discount.png" alt="Take Away - Закажи еду на дом онлайн!">
                                    <p><span>15</span>%</p>
                                </section>
                            </article>

                        </div>

                    </section>


                    <footer>
                        <div class="left"><i class="fas fa-angle-double-left"></i></div>
                        <div class="pages">
                            <ul>
                                <li><i class="far fa-circle"></i></li>
                                <li><i class="far fa-circle"></i></li>
                                <li><i class="far fa-circle"></i></li>
                                <li><i class="far fa-dot-circle active"></i></li>
                                <li><i class="far fa-circle"></i></li>
                                <li><i class="far fa-circle"></i></li>
                                <li><i class="far fa-circle"></i></li>
                            </ul>
                        </div>
                        <div class="right"><i class="fas fa-angle-double-right"></i></div>
                    </footer>
                </div>
            </div>
        </main>
    </div>


    <script src="./../static/js/main.js"></script>
    <script src="./../static/libs/jQuery/jquery-3.4.1.js"></script>
    <script src="./../static/libs/bootstrap-4.3.1/bootstrap.min.js"></script>
    <script src="./../static/libs/fontawesome-free/all.min.js"></script>
</body>

</html>